p {
	width:50%;
	margin: 40px auto;
	line-height: 1.6em;
}

h1{
	text-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}

h3 {
	text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

h2 {
	text-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}

body {
	background: #189BA3;
}

#navbar	{
	background-color: #189BA3;
	border: 2px solid #1A7573;
	border-radius: 5px;
	text-align: center;
}

.navb_wrap {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:70%;
	margin: 0 auto;
	list-style-type: none;
}

.navb {
	min-width:20%;
	padding: .5em 0;
	list-style-type: none; 

	font-size: 2em; /*32px*/
	font-family: 'Roboto', sans-serif, arial;
	font-weight: 100;
}

.navbar-logo {
	transform:translateY(26px) scale(1.7);
}

.navbar-logo img {
	width:auto; height:100px;
}

#nav {
	align-content: center;
	margin-left: 425px;
}

.fronthead {
	text-align: center;
	background-color: #FFFDE7;
	border-radius: 5px;
	border: 1px ridge #1A7573;
	padding-top: 10px;
	font-family: 'Lobster', cursive, arial;
}

.raheader {
	text-align: center;
	background-color: #5FCECE;
	border-radius: 5px;
	border: 1px ridge #1A7573;
	padding: 12px;
}

.raheader-name {
	width: 500px;
	margin: 100px auto 0 auto;
	text-align: left;
	border-radius: 5px 5px 0 0;
	border: 2px ridge #1A7573;
}

.raheader_wrapper {
	width: 100%;
	background-color: #189BA3; 
}

#myself {
	background-color: #5FCECE;
	border-radius: 5px;
	text-align: center;
	border: 1px ridge #1A7573;
	padding: 12px;
}


 #content {
 	float: left;
 	background-color: #189BA3;
 	border-radius: 5px;
 	text-align: center;
 	border: 1px solid black;
 }

/*#content p {
	padding: 1em 0;
}*/

 .footer {
 	background-color: #FFFDE7;
 	border-radius: 5px;
 	/*clear: both;*/
 	color: black;
 	text-align: center;
 	padding: 10px 0;
 }

.footer-alt {
	position: absolute;
 	bottom: 0;
 	width: 100%;
}

 .footer p {
 	margin: 0 auto;
 }

a {
	text-decoration: none;
	color: #FFE8C2;
}

a:hover {
	color: #2C2C2C;
}

main {
	display: flex;
	flex-direction: column;
}

.info_wrapper {
	background-color: #189BA3;
	width: 100%;
}

#info {
	background-color: #189BA3;
	text-align: left;
	padding: 12px;
	line-height: 3em;
	width: 500px;
	margin: 0 auto;
	border: 2px solid #2C2C2C;
	border-top: 0px;
}

#info ol {
	list-style-type: none;
}

.aboutdes {
	background-color: #189BA3;
	text-align: left;
	padding: 12px;
}

.aboutdes ul {
	margin: 40px auto;
	width: 100%;
}

.aboutdes li {
	list-style: none;
	line-height: 1.6em;
	width: 500px;
	margin: 0 auto;
}

.image {
	/*margin: 0 auto;*/
	text-align: center;
}

.portfolio {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	
}

.background {
	background-color: #189BA3;
}

.logo {
	width: 500px;
	height: 300px;
}

ul {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

.aboutpic { 
	width: 300px;
	height: 400px;
 }

 #profimage {
 	height: 400px;
 }

#mainpar {
	border-radius: 5px;
	background-color: #FFFDE7;
	padding: 20px;
	text-align: left;
	margin: 0 auto 40px;
}

.portfoliotemp {
	width: 700px;
	height: 450px;
	box-shadow: 0 10px 25px rgba(0,0,0,0.19), 0 6px 16px rgba(0,0,0,0.17);
	border: 4px solid #2C2C2C;
	border-radius: 7px;
}

.image {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	margin:30px auto;
}

.temp_wrap {
	background: #2C2C2C;
	width: 500px;
	height: 330px;
	margin: 20px;
	padding: 4px;
	border-radius: 7px;
}

.temp_wrap img {
	opacity: 1;
	transition: opacity 300ms ease-in-out;
}

.temp_wrap:hover img {
	opacity: .75;
}
