#navbar	{
	background-color: #6A8D73;
	border: 2px solid #F0A868;
	border-radius: 5px;
	text-align: center;
}

li {
	display: inline;
	padding: 10px;
}

#nav {
	align-content: center;
	margin-left: 425px;
}

.fronthead {
	text-align: center;
	background-color: #F4FDD9;
	border-radius: 5px;
	border: 1px ridge #F0A868;
}

#myself {
	background-color: #F4FDD9;
	border-radius: 5px;
	text-align: center;
	border: 1px ridge #F0A868;
}


 #content {
 	float: left;
 	background-color: #6A8D73;
 	border-radius: 5px;
 	text-align: center;
 	border: 1px solid black;
 }

 .footer {
 	background-color: #F0A868;
 	border-radius: 5px;
 	/*clear: both;*/
 	color: black;
 }

a {
	text-decoration: none;
	color: #FFE8C2;
}

a:hover {
	color: #E4FFE1;
}

main {
	display: flex;
	flex-direction: column;
}

#info {
	background-color: #6A8D73;
	text-align: center;
}

.aboutdes {
	background-color: #6A8D73;
	text-align: center;
}

.image {
	/*margin: 0 auto;*/
	text-align: center;
}

img {
	width: 500px;
	height: 330px;
	border-radius: 5px;
	border: 3px solid #F0A868;
}

.background {
	background-color: #6A8D73;
}







